.wrapper {
  width: 100%;
  //   min-height: 100vh;
  height: 100vh;

  .box {
    width: 100px;
    height: 100px;
  }

  .red {
    background-color: red;
  }
  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
}
