* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.sign-up {
  background-color: rgb(250, 250, 250);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.left-header {
  padding: 1rem;
  display: flex;
}

.arsenal-logo {
  width: 1.5rem;
  margin-right: 1rem;
}

.right-header {
  padding: 1rem;
}

.sign-up__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.sign-up__img {
  height: 20em;
  margin-inline: 5em;
}

.sign-up__auth {
  border: 1px transparent #000;
  border-radius: 5%;
  padding: 0.25rem 3rem 0;
  background-color: #fff;
  position: relative;
  margin-inline: 5em;
}

h2 {
  padding: 3rem 0 2.5rem;
  font-size: 28px;
  font-weight: 400;
}

.register__form-list {
  display: flex;
  flex-direction: column;
}

.sign-up__buttons {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 80px 0;
}

.sign-up__footer {
  background-color: #000;
  color: white;
  width: 100%;
  font-size: 12px;
  padding: 12px 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.info__footer {
  color: #ffffffb3;
}

.info__footer .sign-in__link {
  color: white !important;
  padding-left: 5px;
}

.info__footer .sign-in__link:hover {
  color: #f50057 !important;
}

.error-text {
  color: #f44336;
  text-align: start;
  margin-top: 3px;
  letter-spacing: 0.025rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1200px) {
  .sign-up__img {
    height: 17.5em;
    margin-inline: 4em;
  }
}

@media screen and (max-width: 1100px) {
  .sign-up__img {
    height: 14em;
    margin-inline: 3em;
  }
}

@media screen and (max-width: 992px) {
  .sign-up__img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .register__form-list .MuiInputBase-root {
    width: 17rem;
  }

  .form-item__name .MuiInputBase-root {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .register__form-list .MuiInputBase-root {
    width: 16rem;
  }

  .sign-up__auth {
    padding: 0.25rem 1rem 0;
  }

  .form-item__name .MuiInputBase-root {
    width: 100%;
  }
}
