@import "../../sass/variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__product.row {
  .col-xl-4.col-md-6.col-sm-12 {
    .main__product-img {
      .product-info {
        padding: 1rem 0 1.5rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 0;
        background-color: $gray2;

        h3 {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .product-price {
          justify-content: center;

          h6 {
            margin-top: 0.25rem;
            padding-inline: 0.5rem;
          }

          .special-price {
            color: $red1;
            font-weight: bold;
          }

          .old-price {
            color: $black3;
            font-size: 0.9rem;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
