* {
  font-family: "Lato", sans-serif;
}

.sign-in {
  background-color: rgb(250, 250, 250);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.left-header {
  padding: 1rem;
  display: flex;
}

.store-logo {
  height: 1.75rem;
  margin-right: 1rem;
  cursor: pointer;
}

.right-header {
  padding: 1rem;
}

.sign-in__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.sign-in__img {
  height: 20em;
  margin-inline: 5em;
}
.sign-in__auth {
  border: 1px transparent #000;
  border-radius: 5%;
  padding: 0.25rem 3rem 0;
  background-color: #fff;
  position: relative;
  margin-inline: 5em;
}

h2 {
  padding: 3rem 0 2.5rem;
  font-size: 1.75rem;
  font-weight: 400;
}

.login__form-list {
  display: flex;
  flex-direction: column;
}

.forgot-password__link {
  font-size: 0.75rem;
  color: #33333366;
  display: flex;
  justify-content: flex-end;
}

.forgot-password__link:hover {
  color: #f50057;
}

.sign-in__button {
  padding: 4.375rem 0;
  display: flex;
  justify-content: space-between;
}

.sign-in__footer {
  background-color: #000;
  color: white;
  width: 100.1%;
  font-size: 0.75rem;
  padding: 0.75rem 0;
  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.footer__info {
  color: #e0e0e0;
}

.sign-up__link {
  color: white !important;
  padding-left: 5px;
}

.sign-up__link:hover {
  color: #f50057 !important;
}

.login__form-list .MuiInputBase-root {
  width: 18rem;
}

@media screen and (max-width: 992px) {
  .sign-in__img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .login__form-list .MuiInputBase-root {
    width: 16rem;
  }
}

@media screen and (max-width: 325px) {
  .login__form-list .MuiInputBase-root {
    width: 13.5rem;
  }
}
