@import "../../../../sass/variable";

.table {
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  margin: 1rem 0 2rem;

  tbody {
    tr {
      .name-column {
        font-weight: bold;
      }

      .value-column {
        text-align: left;
        padding-inline: 1rem;
      }
    }
  }
}
