@import "../../../sass/variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN-NAVIGATION */
.main__nav {
  background-color: $black;

  .navbar-brand {
    margin-right: 0;
    margin-left: 0.5rem;

    .img1 {
      width: 3rem;
    }

    .img2 {
      width: 8rem;
      border: 0.125rem solid $white;
      display: none;
    }
  }

  .navbar-collapse {
    color: $white;
    font-size: 1rem;

    .navbar-nav {
      .nav-item {
        .dropdown-toggle::after {
          display: none;
        }

        .dropdown-menu {
          background-color: $black;
          .dropdown-item {
            color: $white;
          }

          .dropdown-item:hover {
            color: $black2;
          }
        }

        .dropdown-menu:hover {
          display: block;
        }
      }

      .nav-link {
        color: $white;
        font-size: 1.125em;
        padding-inline: 0.8em;
        font-weight: 500;
      }

      .nav-link:hover {
        color: $main-color;
      }
    }

    form {
      align-items: center;

      .form-control {
        height: 2em;
        border-radius: 0;
      }

      .nav-link.search {
        height: 2rem;
        color: $black2;
        background-color: $gray1;
        margin-right: 1rem;

        .MuiSvgIcon-root {
          margin-top: -0.75rem;
          height: 2rem;
        }
      }
    }

    .last-icon {
      .nav-link.icon {
        color: $white;
        display: flex;
        align-items: center;
        // display: none;

        .MuiSvgIcon-root {
          font-size: 2.15rem;
          align-items: center;
        }
      }

      .no-login_dropdown {
        //khi drop show hiển thi xuống sang bên phải
        .dropdown-menu[data-bs-popper] {
          right: 0;
          left: auto; //reset property
        }

        .MuiSvgIcon-root {
          color: $white;
          font-size: 2.25rem;
        }

        .dropdown-toggle::after {
          color: $white;
        }

        .dropdown-menu.show {
          a:active {
            background-color: $main-color;
          }
        }
      }

      .login-success_dropdown {
        //khi drop show hiển thi xuống sang bên phải
        .dropdown-menu[data-bs-popper] {
          right: 0;
          left: auto; //reset property
        }

        .login-success_icon {
          width: 1.875rem;
          border-radius: 50%;
          padding-block: 0.1875rem;
        }

        .dropdown-toggle::after {
          color: $white;
        }

        .dropdown-menu.show {
          a:active {
            background-color: $main-color;
          }

          .dropdown-item.disabled {
            img {
              width: 2.675rem;
              height: 2.675rem;
              margin-right: 0.75rem;
              border-radius: 50%;
            }

            h5 {
              font-size: 1rem;
              color: $black;
              letter-spacing: 0.025rem;
            }

            h6 {
              font-size: 0.8rem;
              font-weight: light;
              color: $black3;
            }
          }
        }
      }
    }
  }
}

/* RESPONSIVE */
// @media screen and (min-width: $breakpoints-xl) and(max-width: $breakpoints-xxl) {
//   .container-fluid {
//     padding-inline: 6.5rem;
//   }
// }

// @media screen and (max-width: $breakpoints-xl) {
//   .container-fluid {
//     padding-inline: 0.5rem;
//   }
// }

@media screen and (max-width: $breakpoints-lg) {
  .main__nav {
    .navbar-brand {
      .img1 {
        display: none;
      }

      .img2 {
        display: block;
      }
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          .dropdown-menu {
            .dropdown-item {
              display: flex;
              justify-content: flex-end;
            }
          }
        }

        .nav-link {
          display: flex;
          justify-content: flex-end;
          border-bottom: 0.0025rem groove $white;
        }
      }

      // form {
      //   .form-control {
      //   }

      //   .nav-link.search {
      //   }
      // }
      // .nav-link.icon {
      //   .MuiSvgIcon-root {
      //   }
      // }
    }
  }
}
