@import "../../../../../sass/variable";

.change-password_form {
  border: 1px solid $gray2;
  padding: 0 2rem;
  border-radius: 1rem;

  .cp-label {
    text-align: left;
  }
  button {
    float: right;
  }
}
